[submodule "pokemon-wiki"]
	path = pokemon-wiki
	url = https://github.com/dmoini/pokemon-wiki/
[submodule "what-should-i-watch"]
	path = what-should-i-watch
	url = https://github.com/dmoini/what-should-i-watch/
