[submodule "projects/what-should-i-watch"]
	path = projects/what-should-i-watch
	url = https://github.com/dmoini/what-should-i-watch/
[submodule "projects/pokemon-wiki"]
	path = projects/pokemon-wiki
	url = https://github.com/dmoini/pokemon-wiki/
